body,
div,
i,
span,
a,
img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i {
    font-style: normal;
}

a {
    text-decoration: none;
}

body {
    background-color: #f2f2f2;
}

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg');
}

.box {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    max-width: 550px;
    color: #fff;
    .head_nav {
        .hotel,
        .scenery,
        .map,
        .fly {
            display: flex;
            height: 90px;
            border-radius: 4px;
            font-family: "楷体";
            overflow: hidden;
            .left {
                display: flex;
                flex: 1;
                flex-direction: column; //主轴方向--从上到下
                // align-content:space-around;
                align-items: center;
                justify-content: space-around; // height: 180px;
                background-color: #FF697A; // background-image: linear-gradient(#fff,#FF697A);
                border-right: 1px solid #ccc;
                i {
                    width: 43px;
                    height: 43px;
                    background: url("../img/un_ico_home_v620.png") 0 -126px;
                    background-size: 104px 328px;
                }
            }
            .right {
                display: flex;
                flex: 2;
                flex-wrap: wrap;
                align-content: flex-start; //在侧轴的头部开始排列
                // background-color: #FF697A;
                a {
                    width: 50%;
                    height: 45px;
                    text-align: center;
                    line-height: 45px;
                    background-color: #FF697A; // background-image: linear-gradient(#fff,#FF697A);
                    color: inherit;
                }
                a:nth-child(-n+2) {
                    border-bottom: 2px solid #ccc;
                }
                a:nth-child(odd) {
                    border-right: 1px solid #ccc;
                }
            }
        }
        .scenery {
            margin-top: 8px;
            .left {
                background-color: #3D98FF; // background-image: linear-gradient(#fff,#3D98FF);
                i {
                    width: 43px;
                    height: 43px;
                    background: url("../img/un_ico_home_v620.png") 0 -509px;
                    background-size: 104px 328px;
                }
            }
            .right {
                a {
                    background-color: #3D98FF; // background-image: linear-gradient(#fff,#3D98FF);
                }
            }
        }
        .map {
            margin-top: 8px;
            .left {
                background-color: #44C522; // background-image: linear-gradient(to top right,#fff,#44C522);
                i {
                    width: 43px;
                    height: 43px;
                    background: url("../img/un_ico_home_v620.png") 0 -568px;
                    background-size: 104px 328px;
                }
            }
            .right {
                a {
                    background-color: #44C522; // background-image: linear-gradient(#fff,#44C522);
                }
            }
        }
        .fly {
            margin-top: 8px;
            .left {
                background-color: #ccc;
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 50%;
                    color: inherit;
                    background-color: hotpink; // background-image: linear-gradient(#fff,orange);
                }
                a:first-child {
                    border-bottom: 2px solid #ccc;
                }
            }
            .right {
                a {
                    background-color: hotpink; // background-image: linear-gradient(#fff,orange);
                }
            }
        }
    }
    .sec3_card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: #000;
        margin-top: 12px;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 25%;
            height: 60px;
            background-color: #fff;
            border-right: 1px solid #ccc;
            i {
                width: 20px;
                height: 20px;
                background: url("../img/icon_sprites.png") 0 -80px;
                background-size: 20px 315px;
            }
        }
        div:nth-child(-n+4) {
            border-bottom: 1px solid #ccc;
        }
        div:nth-child(4),
        div:last-child {
            border-right: none;
        }
        div:nth-child(2) {
            i {
                background: url("../img/icon_sprites.png") 0 -80px;
                background-size: 20px 315px;
            }
        }
        div:nth-child(3) {
            i {
                background: url("../img/icon_sprites.png") 0 -80px;
                background-size: 20px 315px;
            }
        }
        div:nth-child(4) {
            i {
                background: url("../img/icon_sprites.png") 0 -80px;
                background-size: 20px 315px;
            }
        }
        div:nth-child(5) {
            i {
                background: url("../img/icon_sprites.png") 0 -80px;
                background-size: 20px 315px;
            }
        }
        div:nth-child(6) {
            i {
                background: url("../img/icon_sprites.png") 0 -80px;
                background-size: 20px 315px;
            }
        }
        div:nth-child(7) {
            i {
                background: url("../img/icon_sprites.png") 0 -80px;
                background-size: 20px 315px;
            }
        }
        div:nth-child(8) {
            i {
                background: url("../img/icon_sprites.png") 0 -80px;
                background-size: 20px 315px;
            }
        }
    }
    .sec4_card {
        display: flex;
        flex-direction: row;
        margin-top: 12px;
        .left {
            display: flex;
            flex: 1;
            flex-direction: column; // width: 551px;
            // height: 448px;
            background-color: #fff;
            .title {
                display: flex;
                flex-direction: row; // justify-content: center;
                align-items: flex-end; // width: 274px;
                // height: 64px;
                i {
                    font-style: italic;
                    color: #FFA500;
                    margin-right: 6px;
                }
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    padding: 2px; // width: 75px;
                    // height: 38px;
                    background-color: #ccc;
                    border-radius: 4px;
                }
            }
            img {
                width: 142px;
                height: 98px;
            }
        }
        .right {
            display: flex;
            flex: 1;
            flex-direction: column; // width: 551px;
            // height: 448px;
            background-color: #fff;
            .title {
                // width: 551px;
                display: flex;
                flex-direction: row-reverse;
                align-items: center; //  justify-content: center;
                // align-items: flex-end;
                // height: 64px;
                span {
                    display: flex;
                    justify-content: center; // align-items: center;
                    align-items: center;
                    margin-right: 4px;
                    font-size: 12px;
                    padding: 2px;
                    padding-left: 10px; // width: 200px;
                    // height: 42px;
                    background-color: #FF5476;
                    border-radius: 10px;
                    .iconfont {
                        // width: 20px;
                        // height: 20px;
                        margin-left: 4px; // height: 42px;
                        // line-height: 46px;
                        color: #fff; // color: #FF5476;
                        font-family: "iconfont";
                    }
                }
            }
            img {
                width: 142px;
                height: 98px;
            }
        }
    }
    .sec5_card {   
        display: flex;
        flex-wrap: wrap;
        a {
            width: 50%;
            >img {
                width: 100%;  
                height: 100%;//坑
            }
        }
    }
    .sec6_rel {
        display: flex;
        margin-top: 12px;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            flex:1; 
            padding: 8px 0;
            background-color: #fff;
            color: #000;
            >i {
                width: 16px;
                height: 17px;
                background: url("../img/un_ico_home_v620.png") -60px -154px;
                background-size: 104px 328px;
            }
            span {
                font-size: 12px;
            }
        }
    }
    .sec7_footer {
        display: flex;
        flex-direction: column;
        margin-top: 4px;
        color: #000;
        font-size: 12px;
        span {
            display: flex;
            justify-content: center;
            i {
                width: 1px;
                height: 8px;  
                background-color: #000; //    margin-left: 8px;
                //    margin-right: 8px;
                margin: 0 8px;
                transform: translateY(50%);
            }
        }
    }
}